@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Playfair+Display&display=swap');

:root{
    --borlow: 'Barlow Semi Condensed', sans-serif;
    --accent: #b79b6c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 40px;
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-logo>img{
    width: 30px;
    height: 30px;
}

.header-logo>p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

.header-logo>p:hover{
    color: var(--accent);
    cursor: pointer;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.dropdown{
    position: relative;
}

.dropdown>p{
    font-family: var(--borlow);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px;
}

.dropdown>p:hover{
    cursor: pointer;
}

.dropdown-content{
    background-color: white;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.dropdown:hover .dropdown-content{
    height: fit-content;
    opacity: 1;
    visibility: visible;
    padding: 25px;
}

.dropdown-content>a{
    text-decoration: none;
    font-family: var(--borlow);
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    transition: 0.2s ease-in-out;
}

.dropdown-content>a:hover{
    color: var(--accent);
}


.buy-btn{
    color: white;
    background-color: black;
    font-family: var(--borlow);
    font-weight: bold;
    padding: 15px 30px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 0;
    transition: 0.2s ease-in-out;
}

.buy-btn:hover{
    background-color: var(--accent);
    cursor: pointer;
}

.head-about{
    background-image: url('../img/background1.jpg');
    height: 1080px;
    width: 100%;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding:200px 300px;
}

.head-about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    font-family: var(--borlow);
    letter-spacing: 1px;
}

.head-about-content>p:nth-of-type(1){
    font-weight: bolder;
    font-size: 1.4rem;
}
.head-about-content>p:nth-of-type(2){
    font-weight: ;
    font-size: 1.5em;
}
.head-about-content>p:nth-of-type(1){
    font-weight: bolder;
    font-size: 1.4rem;
}
.head-about-content>p:nth-of-type(1){
    font-weight: bolder;
    font-size: 1.4rem;
}






